.DS_Store
*.pt
.vs
x64
6DofPose.*
resources/images/output/*.jpg


# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
#[Uu]ser[Ss]ettings/
# Build output
**/x64/
**/Debug/
**/Release/
**/.vs/

# Visual Studio
*.user
*.suo
*.pdb
*.ilk
*.obj
*.tlog

# Unity
UnityProject/Assets/test_frame.png
UnityProject/Assets/test_frame.png.meta

# Python
__pycache__/
*.pyc
